* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.info {
  width: 100%;
  margin-top: 30px;
  border-collapse: collapse;
}

.titles {
  border-bottom: 1px solid gray;
}

.titles th {
  padding: 10px;
  text-align: left;
}

.titles th > span {
  cursor: pointer;
}

tr {
  border-top: 1px solid gray;
}

td {
  padding: 10px;
}

.tasks:hover {
  background-color: darkgray;
}

.edit,
.delete {
  padding: 10px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
}

.edit {
  background-color: orange;
}

.edit:hover {
  background-color: rgb(234, 154, 6);
}

.delete {
  background-color: crimson;
  color: white;
}

.delete:hover {
  background-color: rgb(203, 18, 55);
}

.delete:disabled {
  background-color: rgba(220, 20, 60, 0.599);
}

.green {
  color: green;
  display: block;
  padding: 10px;
}

.red {
  color: red;
  display: block;
  padding: 10px;
}

// modal
.modal-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.603);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-container {
  width: 500px;
  height: 300px;
  background-color: white;
  border-radius: 5px;
}

.modal-inputs {
  display: flex;
  flex-direction: column;
  width: 90%;
  margin: 0 auto;
}

.modal-inputs > input {
  margin-top: 10px;
  height: 35px;
  border-radius: 5px;
  border: 1px solid darkgray;
  padding-left: 5px;
}

.modal-inputs > input:focus {
  outline: 1px solid rgb(34, 160, 218);
  border: none;
}

.modal-add__title {
  margin: 10px;
}

.modal-container hr {
  border: 1px solid lightgray;
}

.modal-top {
  position: relative;
}

.modal-close__top {
  position: absolute;
  top: 10px;
  right: 15px;
  cursor: pointer;
}

.modal-bottom__line {
  margin-top: 20px;
}

.modal-btn {
  margin-top: 15px;
  border: none;
  color: white;
  background-color: rgb(3, 139, 197);
  cursor: pointer;
  font-size: 18px;
  padding: 15px;
  border-radius: 5px;
  float: right;
  margin-right: 15px;
}
